body {
	font-family: 'Roboto Mono';
	overflow: hidden;
}

#main-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.scores-link {
	display: inline-block;
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;

	transition: color .5s, background .5s;
}

a:hover {
	background-color: black;
	color: white;
}

#scores {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 70vh;
	padding: 10px;
}

font-family: 'Roboto Mono', monospace;
