html {
	font-family: 'Roboto Mono';
}

font-family: 'Roboto Mono', monospace;

.snek-link {
	display: inline-block;
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;

	transition: color .5s, background .5s;
}

a:hover {
	background-color: black;
	color: white;
}
